<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../../../css/au-style.css" />
  <link rel="stylesheet" href="../../../css/demo.css" />
  <script src="tabs.js" defer></script>
 
</head>
<body>
  <au-tabs>
    <au-tab-panel id="222" label="Tab1" prefix="aaa" badge="99" affix="bbb">Content 1</au-tab-panel>
    <au-tab-panel label="Tab2">Content 2</au-tab-panel>
    <au-tab-panel label="Tab3" prefix="aaa" badge="99" affix="bbb">Content 3</au-tab-panel>
    <au-tab-panel label="Tab4">Content 4</au-tab-panel>
    <au-tab-panel label="Tab5">Content 2</au-tab-panel>
    <au-tab-panel label="Tab6">Content 2</au-tab-panel>
    <au-tab-panel label="Tab7">Content 2</au-tab-panel>
  </au-tabs>
</body>
</html>