<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Accesserty UI Kit Select</title>
    <link rel="stylesheet" href="../../../css/au-style.css" />
    <link rel="stylesheet" href="../../../css/demo.css" />
  </head>
  <body>
    <header><a href="/src" title="go to home page">Home</a></header>
    <main>
      <h1>
        Accesserty UI Kit Select
      </h1>

      <section>
        <h2>We recommand using original button because now we can style <code>&lt;option&gt;</code></h2>
        <p>
          We use the same style because <code>&lt;button&gt;</code> and <code>&lt;select&gt;</code> often appear in the same area, such as for page filters or form inputs.
        </p>
        <button size="large">This is a Large Button</button>
        <select size="large">
          <button>
            <selectedcontent></selectedcontent>
          </button>
          <div>
            <div role="group">
              <label>Group1</label>
              <option value="a">Taipei</option>
              <option value="b"><b>New York(Custom HTML)</b></option>
              <option value="c">Hong Kong</option>
            </div>
            <div role="group">
              <label>Group2</label>
              <option value="d">LA</option>
              <option value="e"><b>CA(Custom HTML)</b></option>
              <option value="f">AL</option>
            </div>
          </div>
        </select>
        <button size="large" class="custom-btn--primary-flat a11y">This is a Large Button</button>
        <select size="large" class="custom-btn--primary-flat a11y">
          <button>
            <selectedcontent></selectedcontent>
          </button>
          <div>
            <div role="group">
              <label>Group1</label>
              <option value="a">Taipei</option>
              <option value="b"><b>New York(Custom HTML)</b></option>
              <option value="c">Hong Kong</option>
            </div>
            <div role="group">
              <label>Group2</label>
              <option value="d">LA</option>
              <option value="e"><b>CA(Custom HTML)</b></option>
              <option value="f">AL</option>
            </div>
          </div>
        </select>
      </section>

      <section>
        <h2>More Custom <code>&lt;select&gt;</code></h2>
        <p>If you want to change <code>&lt;select&gt;</code> html structure, here you are:</p>
        <ul>
          <li>
            <a href="https://developer.chrome.com/blog/a-customizable-select?hl=zh-tw" title="go to Chrome developer">Learn how to custom select element</a>
          </li>
          <li>
            <a href="https://codepen.io/web-dot-dev/pen/gbOKyRZ" title="go to Codepen demo">Demo</a>
          </li>
        </ul> 
      </section>

      <section>
      <h2>CSS Variables</h2>
      <table>
        <tr>
          <th scope="col">CSS Variables name</th>
          <th scope="col">Description</th>
          <th scope="col">Default value</th>
        </tr>
        <tr>
          <td>1</td>
          <td>2</td>
          <td>3</td>
        </tr>
        </table>
      </section>
  </body>
</html>
