<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Accesserty UI Kit Card</title>
    <link rel="stylesheet" href="../../../css/au-style.css" />
    <link rel="stylesheet" href="../../../css/demo.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <script src="card.js" defer></script>
  </head>
  <body>
    <header><a href="/src" title="go to home page">Home</a></header>
    <main>
      <h1>Accesserty UI Kit Card</h1>
      <h2>How to use</h2>
      <p>This card module primarily restricts the DOM order of the card content, with all other styles being customizable by the user.</p>
      <h3>HTML</h3>
      <ol>
        <li>Copy file (card.js or accesserty-ui-kit.js or accesserty-ui-kit.min.js)</li>
        <li>
          Add the JavaScript file to HTML using the
          <code>&lt;script src=&quot;&quot; defer&gt;</code> tag
        </li>
        <li>Use the <code>&lt;au-card&gt;</code> tag</li>
      </ol>
      <p>Ensure to replace 'your-path' with the actual path to your JavaScript file. Also, make sure the path and filenames are correct to avoid loading errors.</p>
      <h2>Slot</h2>
      <table>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Description</th>
        </tr>
        <tr>
          <td>heading</td>
          <td>Set the title block of card</td>
        </tr>
        <tr>
          <td>media</td>
          <td>Set image or video</td>
        </tr>
        <tr>
          <td>content</td>
          <td>Set main description</td>
        </tr>
        <tr>
          <td>footer</td>
          <td>Set the footer of card</td>
        </tr>
      </table>
      <h2>Demo</h2>
      <p>Be mindful of the order in which you write elements and the final DOM order. The au-card enforces that the heading must appear first, allowing screen reading software to logically read the title before the content.</p>
      <p>You can still use grid or flex to visually swap positions.(set <code>&::part(au-card-container)</code> display)</p>
      <au-card class="custom-au-card">
        <div slot="content" class="content">
          <p>17 MINUTE READ</p>
        </div>
        <div slot="media" class="media">
          <img src="demo.jpg" loading="lazy" alt="test img">
        </div>
        <div slot="footer" class="footer">
          <button>Share Article</button>
          <button>Read Article</button>
        </div>
        <div slot="heading" class="heading">
          <h3>Brittney Griner: What I Endured in a Russian Prison</h3>
          <button>Like!</button>
        </div>
      </au-card>
      <h2>Conclusion</h2>
      <p>Based on the results, I believe that cards are well-suited for development as Web Components because they can ensure that keyboard navigation follows the information structure to a considerable extent.</p>
      <p>However, given the myriad forms of cards and the need to allow developers the freedom to be creative, we have only set up slots and the part attribute for developers to utilize here.</p>
    </main>
  </body>
</html>
