/*************************
  Components
*************************/

/* Button & Select */

:is(button, select, .btn) {
  /* behavior */
  cursor: pointer;
  -webkit-tap-highlight-color: oklch(0 0 0 / 0);

  /* spacing */
  padding: var(--au-btn-padding-vertical, 0.625rem) var(--au-btn-padding-horizontal, 1rem);

  /* text */
  color: var(--au-btn-text-color, oklch(0.1398 0 0));
  font-size: var(--au-btn-text-size, 1rem);
  font-family: var(--au-btn-text-family, 'Helvetica, Arial, sans-serif, system-ui');
  line-height: var(--au-btn-text-line-height, 1.5);

  /* border */
  border: var(--au-btn-border-width, 1px) var(--au-btn-border-style, solid) var(--au-btn-border-color, oklch(0.7894 0 0));
  border-radius: var(--au-btn-border-radius, 0);

  /* others decoration */
  background-color: var(--au-btn-bg, oklch(0.994 0 0));
  transition: background-color 160ms ease-in;

  &[data-size="small"] {
    padding: var(--au-btn-small-padding-vertical, 0.25rem) var(--au-btn-small-padding-horizontal, 0.375rem);
  }

  &[data-size="large"] {
    padding: var(--au-btn-large-padding-vertical, 1rem) var(--au-btn-large-padding-horizontal, 1.625rem);
    font-size: var(--au-btn-large-text-size, 1.25rem);
  }

  &:disabled {
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.4;
  }

  &:hover {
    background-color: var(--au-btn-hover-bg, oklch(0.9466 0 0));
    border-color: var(--au-btn-hover-border-color, oklch(0.7894 0 0));
  }

  &:active {
    background-color: var(--au-btn-active-bg, oklch(0.8689 0 0));
    border-color: var(--au-btn-active-border-color, oklch(0.7894 0 0));
  }

  &:focus-visible {
    outline: none;
    box-shadow: inset 0 0 0 var(--au-btn-focus-shadow-width, 3px) var(--au-btn-focus-shadow-color, oklch(0.8315 0.15681888825079074 78.05241467152487));
  }

  &.a11y {
    transition: none;
    text-shadow: var(--au-btn-a11y-text-shadow, none);
    background-image: var(--au-btn-a11y-bg-image, none);

    background-size: var(--au-btn-a11y-bg-size, 1.5rem 1.5rem);
    background-position: var(--au-btn-a11y-bg-position, center center);

    &:hover {
      background-image: var(--au-btn-a11y-hover-bg-image, none);
    }

    &:active {
      background-image: var(--au-btn-a11y-active-bg-image, none);
    }
  }
}

select {
  appearance: base-select;
  width: max-content;

  &::picker(select) {
    appearance: base-select;
    border: var(--au-select-picker-border-width, 1px) var(--au-select-picker-border-style, solid) var(--au-select-picker-border-color, oklch(0.7894 0 0));
    border-radius: var(--au-select-picker-border-radius, 0.25rem);
    background-color: var(--au-select-picker-bg, oklch(0.994 0 0));
    color: var(--au-select-picker-text-color, oklch(0.1398 0 0));
    box-shadow: var(--box-shadow);
    text-shadow: none;
  }

  selectedcontent {
    max-width: 50dvw;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &[data-size="small"] {
    button {
      padding: var(--au-btn-small-padding-vertical, 0.25rem) var(--au-btn-small-padding-horizontal, 0.375rem);
    }
  }

  &[data-size="large"] {
    button {
      padding: var(--au-btn-large-padding-vertical, 1rem) var(--au-btn-large-padding-horizontal, 1.625rem);
      font-size: var(--au-btn-large-text-size, 1.25rem);
    }
  }

  [role="group"] {
    >label {
      position: sticky;
      top: 0;
      z-index: 1;
      display: block;
      padding: var(--au-group-label-padding-top, 0.25rem) var(--au-group-label-padding-right, 0.375rem) var(--au-group-label-padding-bottom, 0.25rem) var(--au-group-label-padding-left, 0.375rem);
      font-size: var(--au-group-label-large-text-size, 0.875rem);
      color: var(--au-group-label-text-color, oklch(0.1398 0 0));
      background-color: var(--au-group-label-bg, oklch(0.994 0 0));
      border-top: var(--au-group-label-border-width, 1px) var(--au-group-label-border-style, solid) var(--au-group-label-border-color, oklch(0.7894 0 0));
      border-bottom: var(--au-group-label-border-width, 1px) var(--au-group-label-border-style, solid) var(--au-group-label-border-color, oklch(0.7894 0 0));
    }
  }

  option {
    position: relative;
    display: block;
    color: var(--au-option-text-color, oklch(0.1398 0 0));
    padding: var(--au-option-padding-top, 0.375rem) var(--au-option-padding-right, 0.625rem) var(--au-option-padding-bottom, 0.375rem) var(--au-option-padding-left, 2.625rem);
    transition: all 120ms ease-in;
    outline: none;
    word-break: break-word;
    white-space: pre-wrap;

    &:hover {
      background-color: var(--au-option-hover-bg, oklch(0.9466 0 0));
      color: var(--au-option-hover-text-color, oklch(0.1398 0 0));
    }

    &:active {
      background-color: var(--au-option-active-bg, oklch(0.8689 0 0));
      color: var(--au-option-active-text-color, oklch(0.1398 0 0));
    }

    &:checked {
      background-color: var(--au-option-checked-bg, oklch(0.9466 0 0));
      color: var(--au-option-checked-text-color, oklch(0.1398 0 0));
    }

    &:focus-visible {
      box-shadow: inset 0 0 0 var(--au-option-focus-shadow-width, 3px) oklch(var(--au-option-focus-shadow-color, oklch(0.8315 0.15681888825079074 78.05241467152487)));
    }

    &::checkmark {
      position: absolute;
      top: var(--au-checkmark-padding-top, 0.375rem);
      left: var(--au-checkmark-padding-left, 1rem);
    }
  }

  &:not(:open) {
    &::picker-icon {
      content: var(--au-select-arrow-down-icon, '▼');
    }
  }

  &:open {
    &::picker-icon {
      content: var(--au-select-arrow-up-icon, '▲');
    }
  }
}



/* Popover */

[popover] {
  border: var(--au-popover-border-width, 1px) var(--au-popover-border-style, solid) oklch(var(--au-popover-border-color, 0.7894 0 0));
  border-radius: var(--au-popover-border-radius, 0.25rem);
  padding: var(--au-popover-padding-top, 1rem) var(--au-popover-padding-right, 1rem) var(--au-popover-padding-bottom, 1rem) var(--au-popover-padding-left, 1rem);
  background-color: oklch(var(--au-popover-bg, 0.994 0 0));
  color: oklch(var(--au-popover-text-color, 0.1398 0 0));
  box-shadow: var(--box-shadow);
}

[popover] {
  transition: opacity 0.5s;
}

[popover]:popover-open {
  @starting-style {
    opacity: 0;
  }

  opacity: 1;
}

[popover]:not(:popover-open) {
  animation: popover-fade-out 0.5s;
}

@keyframes popover-fade-out {
  0% {
    display: block;
    opacity: 1;
  }

  99% {
    opacity: 0.01;
  }

  100% {
    opacity: 0;
  }
}


/*************************  
    Dialog
*************************/